  <footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p>

                "Explore our curated selection of top-quality products from Amazon. Discover must-have items across various categories and find the perfect fit for your needs. Click to buy and get redirected to Amazon for a seamless shopping experience. Your go-to destination for exceptional products!"
              </p>
              <ul class="footer-links">
                <li>
                  <a href="#"><i class="fa fa-map-marker"></i>kuwait doha
                  </a>
                </li>
                <li>
                  <a href="https://wa.me/+249111510936"><i class="fa fa-phone"></i>+2####36</a>
                </li>
                <li>
                  <a href="mailto:Bnoyasoo@gmail.com"><i class="fa fa-envelope-o"></i>Bnoyasoo@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Categories</h3>
              <ul class="footer-links">
                <li><a href="#">Hot deals</a></li>
                <li><a href="#">Laptops</a></li>
                <li><a href="#">Smartphones</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">Accessories</a></li>
              </ul>
            </div>
          </div>

          <div class="clearfix visible-xs"></div>

          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Information</h3>
              <ul class="footer-links">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Orders and Returns</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Service</h3>
              <ul class="footer-links">
                <li><a href="#">My Account</a></li>
                <li><a href="#">View Cart</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="footer-payments">
              <li>
                <a href="https://themezoz.com"><i class="fa fa-cc-visa"></i></a>
              </li>
              <li>
                <a href="https://themezoz.com"><i class="fa fa-credit-card"></i></a>
              </li>
              <li>
                <a href="https://themezoz.com"><i class="fa fa-cc-paypal"></i></a>
              </li>
              <li>
                <a href="https://themezoz.com"><i class="fa fa-cc-mastercard"></i></a>
              </li>
              <li>
                <a href="https://themezoz.com"><i class="fa fa-cc-discover"></i></a>
              </li>
              <li>
                <a href="https://themezoz.com"><i class="fa fa-cc-amex"></i></a>
              </li>
            </ul>
            <span class="copyright">
 
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
                All rights reserved | and made
              <i class="fa fa-heart-o" aria-hidden="true"></i> by
              <a href="https:themezoz.com" style="color:#FFF" target="_blank">Themezoz</a>
 
            </span>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bottom footer -->
  </footer>